:root {
    --cyan: #14AFCA;
    --darkblue: #424F57;
    --menu: #3E4C4E;
}

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 570px;
    background: url(/img/bg1.png) center/cover no-repeat;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 500px, 50% 100%, 0 500px);
    clip-path: polygon(0 0, 100% 0, 100% 500px, 50% 100%, 0 500px);
}

.menu {
    width: 100%;
    height: 110px;
    position: relative;
    top: 30px;
    padding: 0 202px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: var(--darkblue);
}

.logo-name {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: var(--cyan);
}

.nav {
    width: 595px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: var(--menu);
    transition: color .3s linear;
}

.nav-item-active {
    color: var(--cyan);
}

.nav-item:hover {
    color: var(--cyan);
}

.slogan {
    padding-top: 165px;
    margin: 0 auto;
    width: 995px;
    font-family: 'Futura Md BT', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.features {
    padding-top: 110px;
    padding-bottom: 100px;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--cyan);
}

.subtitle {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    text-align: center;
    color: var(--darkblue);
}

.features-text {
    padding-top: 44px;
    margin: 0 auto;
    width: 990px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: var(--darkblue);
}

.companies {
    padding-top: 128px;
    min-height: 630px;
    background: url(/img/bg2.png) center/cover no-repeat;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 50% 85px, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 85px, 100% 0, 100% 100%, 0 100%);
}

.subtitle-white {
    padding-top: 20px;
    padding-bottom: 44px;
    color: #fff;
}

.companies-wrapper {
    padding-bottom: 120px;
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    min-height: 760px;
    padding-top: 185px;
}

.team-wrapper {
    padding-top: 40px;
    margin: 0 auto;
    min-width: 1010px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 3fr);
    gap: 88px;
}

.team-item {
    justify-content: center;
    width: 280px;
    text-align: center;
}

.team-avatar {
    display: inline-block;
    width: 200px;
}

.team-avatar-info {
    font-size: 15px;
    line-height: 28px;
    color: var(--darkblue);
}

.testimonials {
    padding-top: 185px;
    min-height: 580px;
    background: url(/img/bg2.png) center/cover no-repeat;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 50% 85px, 100% 0, 100% 100%, 50% 580px, 0 100%);
    clip-path: polygon(0 0, 50% 85px, 100% 0, 100% 100%, 50% 580px, 0 100%);
}

.testimonials-wrapper-text {
    margin: 0 auto;
    width: 907px;
}

.testimonials-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    text-align: center;
}

.testimonials-author {
    padding-top: 28px;
    padding-right: 75px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFF;
    text-align: right;
}

.why {
    min-height: 405px;
    padding-top: 115px;
}

.why-text {
    padding-top: 45px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.75px;
    color: var(--darkblue);
}

.footer {
    min-height: 175px;
    padding-top: 35px;
    padding-bottom: 88px;
}

.footer-copy {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #3D3C3C;
}